html {
    background-color: lightskyblue;
    font-family: sans-serif;
    
}
section {
    background-color: lightyellow;
    border: black 1px solid;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

caption.enero {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
}

table.enero th{
    width: 50px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

table.enero td {
    text-align: center;
    border-left: hidden;
    border-right: hidden;
}

caption.febrero {
    font-weight: bold;
    text-align: right;
}

table.febrero th {
    width: 40px;
}

table.febrero td,table.febrero th {
    border-top: hidden;
    border-bottom: hidden;
    text-align: right;
    margin-right: px;
}

table.febrero td {
    font-size: 25px;
}

caption.marzo {
    text-align: left;
    letter-spacing: 10px;
    margin-bottom: 2px;
}

table.marzo th {
    width: 50px;
}

table.marzo td {
    height: 45px;
    font-size: 10px;
    text-align: left;
}