html {
    background-color: lightskyblue;
    font-family: sans-serif;
    
}
section {
    background-color: lightyellow;
    border: black 1px solid;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: hidden;
}

table.enero {
    border: hidden;
}

tr,td,th {
    border: hidden;
}